h1
{
 color:#304FFE;
 text-align:center;
  
}
p
{
  font-size: 20px;
  color:#283593;
  text-align:center;
  font-weight:bold;
  
}
body{
  background-color:#BBDEFB;
  
}
img
{
  text-align:center;
}